body {
    height: 2000px;
    background-color: #3d3429 ;
    color: gray;
}



* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    padding: 1px;
    z-index: 500;
}

.logo {
    width: 70px;
    display: flex;
}


.header {
    background-color: #4b4b4b;
    box-shadow: 1px 1px 4px #110b05;
}

.navegar a {
    text-decoration: none;
    color: #d3c1ac;
    font-weight: bolder;
    transition: 0.4s;
}

.navegar a:hover {
    text-transform: capitalize;
    color: rgb(211, 155, 72);
    background-color: #e05505;
    padding: 4px;
    border-radius: 30% 0;
    font-size: 110%;
}

.icone_header {
    border: none;
    background-color: transparent;
    color: #d3c1ac;
    display: none;
}

@media (max-width: 720px) {
    .icone_header {
        display: block;
    }

    .navegar {
        text-align: center;
        position: absolute;
        flex-direction: column;
        top: 6rem;
        height: 80%;
        width: 15vw;
        left: 1;
        transition: 1s;
    }

    .navegar a {
        color: #ad9e8c;
    }

    .sobre {
        align-items: first baseline;
    }

    
    .sobre p {
        font-size: 20px;
        margin-left: 1rem;
    }

    .sobre ul {
        font-size: 22px;
    }

    

    

    .cardapio {
        display: flex;
        align-items: center;
    }

    
}

.background_titulo {
    background-image: url('/img/imagemPrincipal.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.title {
    background-image: url('/img/imagemPrincipal.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.title h1 {
    padding-left: 3rem;
    margin-right: 5rem;
    padding-top: 8rem;
    color: #f1eaea;
    font-size: 4.8rem;
}

.title p{
    padding-left: 3rem;
    margin-right: 5rem;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
}

.sobre {
    text-align: center;
    margin-left: 0rem;
    margin-right: 4rem;
    color: #d3c1ac;
    padding-top: 20rem;
    margin-bottom: 20rem;
    font-size: 30px;
    gap: 2rem;
    z-index: 500;

}

.carousel-item img {
    display: flex;
    max-height: 30%;
    width: 60%;
    align-items: center;
    padding: 0;
    z-index: 500;
}

.chefe {
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    z-index: 500;
}

.chefe img {
    display: block;
    width: 150px;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 30%;
    z-index: 500;

    
}


.sobre ul {
    text-align: left;
    margin-top: 3rem;
    margin-left: 6rem;
    z-index: 500;
}


.row {
    display: flex;
    margin-bottom: 10rem
}


.cardapio {
    width: 100%;
    padding-left: 18rem;
}

.cardapio {
    padding: 4rem;
}


.cardapio h1 {
    background-color: transparent;
    text-align: center;
    font-size: 70px;
    color: #d3c1ac;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.cardapio h2 {
    text-align: center;
    font-size: 35px;
    color: #d3c1ac;
}





.card {
    display: flex;
    background-color: #4b4b4b;
    padding: 1rem;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 500;
    text-align: center;
}


.sobre img {
    width: 150px;
    display: flex;
    border-radius: 50%;
}

.chefe-perfil {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
}

#linkIFPE {
    text-decoration: none;
    color: #d3c1ac;
}

@media (max-width: 1400px) {
    .chefe-perfil {
        flex-direction: column;
    }

    .chefe-perfil {
        align-items: center;
    }
}

